<!DOCTYPE html>
<html lang="es">

<head>
    <title>Botiga Eloi Jurado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="#">
            EJC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Inici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Sobre Nosaltres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Botiga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contacte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../assets/img/foto1.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>EJC</b> Commerce</h1>
                                <h3 class="h2">Producte 1</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod metus vulputate
                                    auctor aliquam. Pellentesque suscipit ligula quis vulputate scelerisque. Aliquam nec ipsu
                                    m eu tellus auctor euismod sit amet eget sapien. Fusce mauris sapien, lobortis in dapibu
                                    s eu, hendrerit id turpis. Vivamus at hendrerit lacus, et sollicitudin orci. Donec tinci
                                    dunt lacus in nisi laoreet, quis tincidunt arcu sollicitudin. Nunc pellentesque eu nisi pha
                                    retra congue. Sed dictum orci erat, et interdum ligula aliquet eu. Fusce consectetur tinc
                                    idunt orci vitae dignissim. Ut quis lectus odio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../assets/img/foto2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Categoria</h1>
                                <h3 class="h2">Producte 2</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod metus vulputate
                                    auctor aliquam. Pellentesque suscipit ligula quis vulputate scelerisque. Aliquam nec
                                    ipsum eu tellus auctor euismod sit amet eget sapien. Fusce mauris sapien, lobortis in
                                    dapibus eu, hendrerit id turpis. Vivamus at hendrerit lacus, et sollicitudin orci. Don
                                    ec tincidunt lacus in nisi laoreet, quis tincidunt arcu sollicitudin. Nunc pellentesque
                                    eu nisi pharetra congue. Sed dictum orci erat, et interdum ligula aliquet eu. Fusce cons
                                    ectetur tincidunt orci vitae dignissim. Ut quis lectus odio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="../assets/img/foto3.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Categoria</h1>
                                <h3 class="h2">Producte 3 </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod metus vulputate a
                                    uctor aliquam. Pellentesque suscipit ligula quis vulputate scelerisque. Aliquam nec ipsu
                                    m eu tellus auctor euismod sit amet eget sapien. Fusce mauris sapien, lobortis in dapibu
                                    s eu, hendrerit id turpis. Vivamus at hendrerit lacus, et sollicitudin orci. Donec tinc
                                    idunt lacus in nisi laoreet, quis tincidunt arcu sollicitudin. Nunc pellentesque eu ni
                                    si pharetra congue. Sed dictum orci erat, et interdum ligula aliquet eu. Fusce consectet
                                    ur tincidunt orci vitae dignissim. Ut quis lectus odio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Inici</h1>
                <a id="imatge1">
                    <img src="../assets/img/logo.jpeg">
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar, metus quis vehicula aliquet, nisi mauris tempor arcu, vitae blandit arcu sapien non sapien. Suspendisse quis hendrerit libero. Vestibulum lacus urna, commodo eget nibh eget,
                    consectetur eleifend tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit
                    lacus urna, id porttitor risus bibendum sit amet. Pellentesque luctus, nibh nec sagittis sagittis, sapien
                    tellus elementum purus, ac mollis nunc nulla in quam. Vestibulum ornare dolor sed lectus sagittis, id porttitor
                    diam sagittis. Praesent pretium fringilla faucibus. Nam mi libero, blandit a lacus quis, convallis
                    efficitur dui.
                </p>
            </div>
        </div>

    </section>

    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Productes més buscats </h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="../assets/img/producte1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="h2 text-decoration-none text-dark">Producte 1</p>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-center"><a href="single-shop.html" class="btn btn-success">Comprar</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">

                        <img src="../assets/img/producte2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="h2 text-decoration-none text-dark">Producte 2</p>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-center"><a href="single-shop.html" class="btn btn-success">Comprar</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="../assets/img/producte3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="h2 text-decoration-none text-dark">Producte 3</p>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-center"><a href="single-shop.html" class="btn btn-success">Comprar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <footer class="bg-dark" id="tempaltemo_footer">

        <div class="w-100 bg-black py-3">

            <div class="container">
                <p class="text-left text-light">
                    Copyright designed by Eloi Jurado Cabero
                </p>
            </div>
        </div>

    </footer>




    <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>