<!DOCTYPE html>
<html lang="es">

<head>
    <title>Botiga Eloi Jurado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="#">
            EJC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Inici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Sobre Nosaltres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="shop.html">Botiga</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contacte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="../assets/img/producte3.jpg" alt="Foto del producte" id="product-detail">
                </div>
            </div>
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">Nom del producte</h1>
                        <p class="h3 py-2">$25.00</p>

                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Marca:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Marca del Producte</strong></p>
                            </li>
                        </ul>

                        <h6>Descripcio:</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet interdum quis nulla.</p>

                        <form action="" method="GET">
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="idproducte">Comprar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<footer class="bg-dark" id="tempaltemo_footer">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <p class="text-left text-light">
                <a>Copyright designed by Eloi Jurado Cabero</a>
            </p>
        </div>
    </div>
</footer>




</html>